.DS_Store
/MANIFEST
/.tox/
/*.egg-info/
/.venv/
/var/static/
/var/media/
/local/
/.vagrant/
/Vagrantfile.local
/docs/_build/
*.pyc
*.pyo
.installed.cfg
bin
.idea/
develop-eggs
build/
dist/
# dist
downloads
eggs
parts
src/*.egg-info
lib64
*.log
*.pot
static/CACHE/*
.vagrant/*
media/*
.anaconda
*.DS_Store
*.sass-cache
.idea
.coverage
coverage_html_report/

# node
node_modules/
# bower
bower_components/

$virtualenv.tar.gz
core/static/css/
core/static/js/
core/static/images/
core/jinja2/svg.html

*.sql
example.html
