# Required for running the tests.
pytest==7.4.3
pytest-cov==4.1.0
pytest-memray==1.5.0
tox==4.11.4
build==1.0.3
setuptools==69.0.3
# Benchmark dependencies.
markov_draftjs==0.2.0
memray==1.11.0
psutil==5.9.7
# For linting and formatting.
ruff==0.1.9
mypy==1.8.0
# HTML builders.
# Keep this in sync with the dependencies in setup.py, requirements.txt, tox.ini.
lxml>=4.2.0,<5
beautifulsoup4>=4.4.1,<5
html5lib>=0.999,<2
