name: CI
permissions:
  contents: read
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
      - main
      - "renovate/**"
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - uses: astral-sh/setup-uv@v7
      - run: uv sync --dev
      - run: uv run make lint
      - run: uv run make benchmark
      - run: make build
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - run: npm ci
      - run: npm run lint
      - run: uv run make test-coverage
  test_compatibility:
    needs: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          # Skip oldest supported version, checked in the "test_lower_bound" job.
          # - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          # Skip latest version, tested in the main "test" job.
          # - "3.14"
          # Skip future version, tested in the "test_experimental" job.
          # - "3.15"
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@v7
      - run: uv sync --dev
      - run: uv run make test
  test_lower_bound:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.10"
      - uses: astral-sh/setup-uv@v7
      - run: make test-compatibility
  test_experimental:
    # Ad-hoc job to test experimental support without having to adjust all of our project for compatibility.
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          # See available versions:
          # https://github.com/actions/python-versions/tags
          python-version: "3.15-dev"
      - uses: astral-sh/setup-uv@v7
      - run: uv run --with 'beautifulsoup4>=4.4.1,<5' python -X dev -W error example.py
